body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
}

input {
   border: 1px solid blue;
   width: 100%;
   padding: 10px;
   box-sizing: border-box;
   margin-bottom: 5px;
}

#delete-btn {
    background: white;
    color: blue;
    border: 1px solid blue;
}

button {
    background: blue;
    padding: 10px;
    color: white; 
    padding: 10px 20px;
    border: none;
    font-weight: bold;
}

ul {
    margin-top: 20px;
    list-style: none;
    padding-left: 0;
}

li {
    margin-top: 5px;
}

a {
    color:darkblue;
}
